FIRST JUPYTER NOTEBOOK

In [1]:
# The code was removed by Watson Studio for sharing.

   Unnamed: 0          age     sex  year  suicides
0           1  15-24 years    male  1987     12386
1           2  35-54 years    male  1987     30098
2           3  15-24 years  female  1987      4046
3           4    75+ years    male  1987      9206
4           5  25-34 years    male  1987     17386